In [15]:
import pandas as pd
import emoji

In [16]:
# combine the csv files 
# df contain all 5000 tweets
df1 = pd.read_csv('matched_tweets_4443.csv', usecols=['tweet_id','tweet_text','year','final_rating'], index_col='tweet_id')
df2 = pd.read_csv('unmatched_tweets_557.csv', usecols=['tweet_id','tweet_text','year','final_rating'], index_col='tweet_id')
df = pd.concat([df1, df2], axis=0)
df

,tweet_text,year,final_rating
tweet_id,,,
655696229586833408,thereâ€™s hydrogen and helium then lithium beryl...,2015,0.0
648932547251040257,theres hydrogen and helium then lithium beryll...,2015,0.0
595438648138530816,got called the square in a meeting because i p...,2015,0.0
583130424471326720,in a hydrogen war ravaged society the nubile y...,2015,0.0
656142309352939520,i am made of flesh lotsa carbon and hydrogen a...,2015,0.0
...,...,...,...
1509170817300676621,is andrew forrest not a good candidate to repl...,2022,NaN
1580906325403312129,ðŸ“£ will invest â‚¬ billion in france learn more a...,2022,NaN
978094796588961793,our industry model is completely backwards ups...,2018,NaN
1519373194938884096,meetings with regional and international leade...,2022,NaN
1494340634349805568,reliance âœ… âœ… âœ… âœ… âœ… âœ… all the observations are ...,2022,NaN

In [18]:
# remove the emoji and replace it with the its text

df['tweet_text'] = df['tweet_text'].apply(lambda x: emoji.demojize(x,  delimiters=(" ", " ")).replace("_", " ").replace("-", " "))
df

,tweet_text,year,final_rating
tweet_id,,,
655696229586833408,thereâ€™s hydrogen and helium then lithium beryl...,2015,0.0
648932547251040257,theres hydrogen and helium then lithium beryll...,2015,0.0
595438648138530816,got called the square in a meeting because i p...,2015,0.0
583130424471326720,in a hydrogen war ravaged society the nubile y...,2015,0.0
656142309352939520,i am made of flesh lotsa carbon and hydrogen a...,2015,0.0
...,...,...,...
1509170817300676621,is andrew forrest not a good candidate to repl...,2022,NaN
1580906325403312129,megaphone will invest â‚¬ billion in france le...,2022,NaN
978094796588961793,our industry model is completely backwards ups...,2018,NaN
1519373194938884096,meetings with regional and international leade...,2022,NaN
1494340634349805568,reliance check mark button check mark butto...,2022,NaN